body{
    background-color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1,h4 {
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    text-align: justify;
}

#name h1{
    text-align: center;
}

.apresentacao{
    height: 150px;
    position: absolute;
}

#perfil{
    width: 150px;
    border-radius: 80px;
    float: left;
    position: absolute;
    padding-top: 5px;
    left: 400px;
}
#apres{
    width: 400px;
    position: absolute;
    padding-top: 20px;
    left: 600px;
}

#dados{
    width: auto;
    top: 250px;
    position: absolute;
    left: 600px;
    border: 2px solid;
}

#habilidades{
    position: absolute;
    top: 350px;
    left: 600px;
    border: 2px solid;
}

#indice{
    position: absolute;
    top: 500px;
    left: 600px;
    border: 2px solid;
}
.button{
    color: #fff;
    font-size: 16px;
    line-height: 40px;
    font-weight: 700;
    padding: 10px 20px;
    background-color: rgb(43, 43, 43);
    text-decoration: none;
    border-radius: 5px;
}